@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0A0A0A;    
    color: #C7C7C7;
    font-family: Bebas Neue;
    overflow-x: hidden;
    
}


.navbar {
    position: relative;
    width: 100%;
    height: 96px;
    padding: 24px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.navbar .logo {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar ul li {
    margin-left:35px;
    list-style: none;
    display: flex;
    align-items: center;

}

.navbar ul li a {
    font-family: Inter , sans-serif;
    color: #C7C7C7;
    text-decoration: none;
}


.about-info {
    width: 1200px;
    height: 600px;
    opacity: 100;
    display: flex;
    box-sizing: border-box;
  }
  
  
  .text3 {
    color: #fff;
    width: 464px;
    height: 76px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 76px;
    margin-left: 83px;
    margin-top: 60px;
    
  }
  
  .text4 {
    font-family: "Manrope", sans-serif;
    color: #f1f1f1;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 500;
    margin-right: -189px;
  }
  
  .text5 {
    font-family: "Manrope", sans-serif;
    color: #c7c7c7;
    font-size: 18px;
    font-weight: 500;
    margin-left: 547px;
    line-height: 27px;
    margin-top: -465px;
    margin-bottom: 40px;
  }
  



  .button {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    text-align: center;
    margin-top: 7px;
    position: relative;
    bottom: -8px;
    right: -550px;
    
}

.resume {
    width: 245px;
    height: 54px;
    padding: 20px, 6px, 20px, 24px;
    border-radius: 100px;
    background-color: #D3E97A;
    font-family: 'manrope', sans-serif;
    font-size: 16px; 
    font-weight: 700;
    border: none;
      
}

.bullet {
  font-size: 10px; 
  color: #0a0a0a; 
  position: relative;
  right: -18px;
  top: -3px;
}



.iconlinkedin, .icongit {
  position: relative;
  
}

.iconlinkedin img, .icongit img {
    width: 45px; 
    height: 45px;
    
}
  

.me-image {
  display: flex;
  width: 1224px;
  height: 700px;
  padding: 40px;
  background-color: #0a0a0a;
  position: relative;
  top: 83px;
  left: 100px;
}


.me-image img {
    width:950px;
    height: 700px;
    border-radius: 16px;
    left: 100px;
    
    


}



.text {
  width: 1200px;
  height: 600px;
  opacity: 100;
  
  
}


.p-text {
  color: #fff;
  width: 464px;
  height: 76px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 76px;
  margin-left: 83px;
  margin-top: 250px;
  
}

.para {
  font-family: "Manrope", sans-serif;
  color: #c7c7c7;
  font-size: 16px;
  font-weight: 500;
  margin-left: 600px;
  line-height: 27px;
  margin-top: -590px;
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}



.hr1 {
  width: 100%;
  border: 1px solid #484848;
  position: relative;
  top: 200px;
}
/* .hr3 {




    width: 100%;
    border: 1px solid #484848;
    margin-top: 350px;
  } */ 

/* .connect-info {
    width: 1200px;
    height: 600px;
    opacity: 100;
    display: flex;
    box-sizing: border-box;
  
  }
  
  .ptext {
    color: #fff;
    width: 464px;
    height: 76px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 76px;
    margin-left: 83px;
    margin-top: 40px;
    margin-bottom: 30px;
    
  
  }
  
  .ptext1 {
    font-family: "Manrope", sans-serif;
    color: #C7C7C7;
    margin-top: 140px;
    font-size: 18px;
    font-weight: 500;
    margin-left: -465px;
  
  }
  
  .ptext2 {
    font-family: "Manrope", sans-serif;
    color: #C7C7C7;
    margin-top: 172px;
    font-size: 18px;
    font-weight: 500;
    margin-left: -307px;
  }
  
  
  .ptext1 a {
    color:#FFFFFF;
    text-decoration: underline;
    text-decoration-color: #d3e97a;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
    
  }
  
  .ptext2 a {
    color:#FFFFFF;
    text-decoration: underline;
    text-decoration-color: #d3e97a;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
  }
  
  .connect .icons{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 24px;
    width: 200px;
    height: 32px;
    margin-top: -358px;
    position: relative;
    left: 80px;
  }
  
  .icons img {
    width: 35px;
    height: 35px;
    
  }
  
  .form-info {
      width: 600px;
      height: 611px;
      font-family: "Manrope", sans-serif;
      color: #c7c7c7;
      position: relative;
      right: -700px;
      top: -225px;
   
  }
  
  input[type="text"], select, textarea {
    width: 600px;
    height: 54px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #1a1a1a;
    color:#fff;
    
  }
  
  input::placeholder {
    color:#ffffff;
    font-family: 'manrope' sans-serif;
    font-size: 16px;
  }
  
  
  textarea {
    width: 600px;
    height: 150px; 
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    background-color: #1a1a1a;
    resize: none;
  }
  
  .footer{
    font-family: 'manrope', sans-serif;
    color: #c7c7c7;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    right: -75px;
    margin-top: -325px;
   
  }
  
  .btn {
    background-color: #d3e97a;
    color: #0a0a0a;
    font-family: 'manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    width: 140px;
    border-radius: 100px;
    border: none;
    padding: 20, 40px;
  }
  
  
  .btn:hover {
    background-color: #ffffff;
  
  } */
  
  
  
   