@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0A0A0A;    
    color: #C7C7C7;
    font-family: Bebas Neue;
    overflow-x: hidden;
    
}


.navbar {
    position: relative;
    width: 100%;
    height: 96px;
    padding: 24px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.navbar .logo {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar ul li {
    margin-left:35px;
    list-style: none;
    display: flex;
    align-items: center;

}

.navbar ul li a {
    font-family: Inter , sans-serif;
    color: #C7C7C7;
    text-decoration: none;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 60px 50px 108px;
    height: 500px;
    gap: 30px;
}

.home-info {
    flex: 1;
    max-width: 544px;
}



.home-info .hero-text {
    font-size: 101px;
    font-family: 'Bebas Neue', sans-serif;
    color: #ffffff;
    font-weight: 400px;
    line-height: 90.9px;
    position: relative;
    left: -20px;

}

.home-info .description {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400px;
    line-height: 27px;
    color: #C7C7C7;
    position: relative;
    left: -20px;
}

.home-image img {
    
        width: 500px; 
        height: auto; 
        object-fit: contain; 
        border-radius: 10px; 
        float: right;                                                       
        position: relative;
        right: 50px;
    }
    
.button {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 100px;
}

.contact-me {
    width: 150px;
    height: 50px;
    padding:  6px;
    border-radius: 100px;
    opacity: 1px;
    background-color:#D3E97A;
    gap: 12px;
}
.contact-me .bullet {
   margin-left: 15px;
}

.hr1 {
    width: 100%;
    border: 1px solid #484848;
    position: relative;
    top: 200px;
}


.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 60px 50px 108px;
    height: 5px;
    gap: 8px;
    margin-top: 255px;
}

.Projects-info {
    flex: 1;
    max-width: 544px;
}

.Text1 {
     font-size: 50px;
     font-family: 'Bebas Neue', sans-serif;
     color: #ffffff;
     font-weight: 400px;
     height: 90px;
     line-height: 5px;
     letter-spacing: 2px;
     position: relative;
     left: -20px;
}

.Text {

    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400px;
    color: #C7C7C7;
    text-align: left;
    line-height: 27px;
    position: relative;
    top: -50px;
    left: -20px;
}
    
.container1 {
  width: 1200px;  
  height: 800px;  
  display: flex;
  margin-left: 110px;
  margin-top: 30px;
  gap: 35px;
}

.project-card {
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  width: 500px;
  height: 510px;
  padding: 40px;
  border-radius: 12px;
  position: relative;
  left: -20px;
}

.project-card img {
  width: 100%;  
  height: 100%;
  object-fit: contain;  
  border-radius: 15px;
  max-width: 100%;  
  max-height: 100%;
  margin: auto; 
  
}

.cardtext {
  margin-top: 46px;
}


.cardtext h2 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  line-height: 44.8px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.cardtext p1 {
  display: block;
  font-size: 18px;
  line-height: 27px;
  color: #C7C7C7;
  margin-bottom: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  text-align: right;
}

.cardtext h3 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 24px;
  text-align: right;
}

.hr-1, .hr-2, .hr-3 {
  width: 100%;
  border: 1px solid #484848;
  margin: 10px 0;
}

.Info {
  margin-top: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 10px;
}

.info1, .info3 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 25.6px;
}

.info2, .info4 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}


.container2 {
  width: 1200px;  
  height: 800px;  
  display: flex;
  margin-left: 110px;
  margin-top: -10px;
  gap: 35px;
}

.project-card {
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  width: 500px;
  height: 510px;
  padding: 40px;
  border-radius: 12px;
  position: relative;
  left: -20px;
}

.project-card img {
  width: 100%;  
  height: 100%;
  object-fit: contain;  
  border-radius: 15px;
  max-width: 100%;  
  max-height: 100%;
  margin: auto; 
  
}



.cardtext h2 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  line-height: 44.8px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.cardtext p1 {
  display: block;
  font-size: 18px;
  line-height: 27px;
  color: #C7C7C7;
  margin-bottom: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  text-align: right;
}

.cardtext h3 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 24px;
  text-align: right;
}

.hr-1, .hr-2, .hr-3 {
  width: 100%;
  border: 1px solid #484848;
  margin: 10px 0;
}

.Info {
  margin-top: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 10px;
}

.info1, .info3, .info5{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 25.6px;
}

.info2, .info4, .info6{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}

.hr-1, .hr-2, .hr-3, .hr-4 {
  width: 100%;
  border: 1px solid #484848;
  margin: 10px 0;
}


.container3 {
  width: 1200px;  
  height: 800px;  
  display: flex;
  margin-left: 110px;
  margin-top: 30px;
  gap: 35px;
}

.project-card {
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  width: 500px;
  height: 510px;
  padding: 40px;
  border-radius: 12px;
  position: relative;
  left: -20px;
}

.project-card img {
  width: 100%;  
  height: 100%;
  object-fit: contain;  
  border-radius: 15px;
  max-width: 100%;  
  max-height: 100%;
  margin: auto; 
  
}

.cardtext {
  margin-top: 46px;
}


.cardtext h2 {
  font-size: 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  line-height: 44.8px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.cardtext p1 {
  display: block;
  font-size: 18px;
  line-height: 27px;
  color: #C7C7C7;
  margin-bottom: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  text-align: left;
}

.cardtext h3 {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 24px;
  text-align: left;
}

.hr-1, .hr-2, .hr-3 {
  width: 100%;
  border: 1px solid #484848;
  margin: 10px 0;
}

.Info {
  margin-top: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 10px;
}

.info1, .info3 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 25.6px;
}

.info2, .info4 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}


.hr2 {
  width: 100%;
  border: 1px solid #484848;
  position: relative;
  top: -214px;
}

.about-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 60px 50px 108px;
  height: 5px;
  margin-top: -140px;
  gap: 20px;
}

.Text3{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  font-weight: 5px;
  letter-spacing: 3px;
}

.Text{
  
}

.Text4{
  font-family: 'Manrope', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  position: relative;
  top: -60px;
  text-align: right;
  right: -100px;
  
}

.Text-5{
  font-family: 'Manrope', sans-serif;
  color: #C7C7C7;
  
}
  
  


